input{
    text-align: center;
}
input[type="text"]{
    display:inline-block;
    width:100%
}
.container{
    font-family: fantasy;
    border: 3px solid black;
    text-align: center;
}
#textInput{

}
#group1{
    margin-top: 5%;
    text-align: center;
}
.mini-container{
    text-align: center;
}
.Info{
    margin-top: 2%;
    text-align: center;
    font-family: fantasy;
}
