input{
    text-align: center;
}
input[type="text"]{
    display:inline-block;
    width:100%
}
.container{
    font-family: fantasy;
    border: 3px solid white;
    text-align: center;
    background-color: rgba(236, 231, 231, 0.52);
    border-radius: 30px;
}
#container1{
    margin-bottom: 50px;
    margin-top: 20px;
}
#group1{
    margin-top: 5%;
    text-align: center;
}
.mini-container{
    text-align: center;
}
.Info{
    margin-top: 2%;
    text-align: center;
    font-family: fantasy;
}
